@using EntityLayer.Concrete
@model List<Category>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h3>Table</h3>
        <br />
        <table class="table table-bordered">
            <tr>
                <th>#</th>
                <th>Kategori Adı</th>
                <th>Açıklama</th>
                <th>Durum</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.CategoryID</td>
                    <td>@item.CategoryName</td>
                    <td>@item.CategoryDescription</td>
                    
                </tr>
            }
            </table>
    </div>
    <a href="/Category/AddCategories" class="btn btn-primary" >Yeni Kategori</a> 
</body>
</html>
